body {
    margin: 0;
    padding: 0;
    background-color: black; /* Set the background to black */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh; /* Center content vertically in the viewport */
}

.my-heading {
    color: #f9f9f9;
    font-weight: bold;
    align-content: start;
}

.seat {
    width: 40px;
    height: 30px;
    margin: 2px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
}
.sold {
    background-color: #ccc;
}
.available {
    background-color: #4CAF50;
    color: white;
}
.row {
    display: block;
    margin-bottom: 10px;
}
.button-container {
    align: right;
    margin-top: 20px;
}
    #confirm-button {
        padding: 10px 20px;
        background-color: #0BFF;
        color: white;
        border: none;
        cursor: pointer;
    }