body {
    margin: 0;
    padding: 0;
    background-color: black;
    height: 200vh;
}
#seat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140vh; /* Center content vertically in the viewport */
    padding: 70px; /* Add space on the left and right of the table */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.my-heading {
    color: #f9f9f9;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    height: 10vh; /* Center in the viewport */

}

.seat {
    width: 40px;
    height: 30px;
    margin: 2px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
}
.sold {
    background-color: #fa0303;
}
.available {
    background-color: #4CAF50;
    color: white;
}
.row {
    display: block;
    margin-bottom: 10px;
}
.button-container {
    align: right;
    margin-top: 10px;

}
#confirm-button {
        padding: 10px 20px;
        background-color: #0BFF;
        color: white;
        border: none;
        cursor: pointer;

    }
.center-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    height: 170vh; /* Center in the viewport */

}

.selected{
    background-color: #0021fa;
}
