body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
body {
    background-image: url("https://photos.lensculture.com/medium/d7152bb2-0276-4ecc-94b6-259ea077cd70.jpg");
    background-size: cover; /* Adjust to your preference */
    background-position: center center; /* Adjust to your preference */
    background-repeat: no-repeat; /* Prevent image from repeating */
}

.container {
    max-width: 800px;
    margin: 20px auto;
}

#table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#table th,
#table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

#table th {
    background-color: #4CAF50;
    color: white;
}

#table tr:nth-child(even) {
    background-color: rgba(245, 239, 239, 0.5);;

}

#table td.available {
    background-color: #99FF99; /* Green for available seats */
}

#table td.booked {
    background-color: #FF9999; /* Red for booked seats */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}
#table .timeslot  {
    background-color: #3bf109; /* Green for timeslots */
    border-radius: 20px; /* Add rounded corners */
    padding: 8px;
    opacity: 90%;
}